# mgba gb / gbc / gba tier 1 flawless
# crt shader scanline-only compatible global video scale integer true
video_shader = "shaders_slang/crt/crt-easymode.slangp"
# integer overscale 1 gba 240 160 4k gb/gbc 160 144
video_scale_integer_scaling = "1"
# 2-frame run-ahead gba games have 2 frames internal lag a15
run_ahead_enabled = "true"
run_ahead_frames = "2"
